body{
    background-color: rgb(205, 242, 242);
}

.tipcal{
    background-color: white;
    border-radius: 15px;
}


.container{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

.info, .total{
    display: inline-block;
    width: 48%;
    margin-right: 2%;
    vertical-align: top;
}

.info{
      padding: 20px;
      border-radius: 15px;    
}

.userinput{
    height: 20px;
    width: 15px;
    border-radius: 15px;
}

.total{
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(2, 94, 2);
    color: white;
    margin-right: 0;
}